#nav1{
	background-color: navajowhite;
	
	text-align: center;
}
#logo{
	float: left;
}
h1{
	
	float: right;
	margin-right: 400px;
}
body{
	background-color: blanchedalmond;
}
	
	

#fin{
	text-align: center;
}